<section id="about">
    <div class="wrapper">
      <div class="picture">
        <img
          src="./src/assets/perfilLU.jpg"
          alt="Imagem do Técnico Luciano Marcucci"
        />
      </div>
      <aside class="about-info ">
        <div>
          <h2>Sobre mim</h2>
          <h3>Entenda quem eu sou</h3>
          <p class="about-info-description">
            Sou Luciano Marcucci, técnico de informática com mais de 20 anos de experiência. Sempre fui apaixonado por tecnologia e eletrônicos, o que me levou a buscar conhecimentos e habilidades na área de informática. Adquiri vasta experiência em trabalhar com equipamentos Intel, AMD e MacBook. Ofereço soluções personalizadas, sou atencioso e busco entender as necessidades específicas do cliente. Estou sempre atualizado sobre as tendências e inovações em tecnologia. Pronto para ajudá-lo a resolver seus problemas de forma eficiente e proporcionar uma ótima experiência em tecnologia.
          </p>
        </div>
        <a
          target="_blank"
          href="https://wa.me/5519981475345?text=Ola%20gostaria%20de%20fazer%20um%20orçamento"
          class="btn btn-filled"
          aria-label="botão para abrir uma conversa no whatsapp para fazer um orçamento"
        >
          <img src="./src/assets/icon-whatsapp.svg" alt="Icone whatsapp" />
          Fazer orçamento
        </a>
      </aside>
    </div>
  </section>

<style>
    #about .wrapper{
       background-color: #96f596; 
    }
</style>