<section id="contact">
    <div class="wrapper ">
      <aside class="contact-info">
        <h3>Entre em contato comigo!</h3>
        <div class="address">
          <img src="./assets/map-blue.svg" alt="Icone de localização" />
          <p class="address-text">
            Av 27 entre Ruas 12 e 13, 1308 Bairro do Estádio - Rio Claro - SP
          </p>
        </div>
        <div class="email">
          <img src="./assets/mail-blue.svg" alt="Icone de email" />
          <p class="email-text">lumarcucci@hotmail.com
            marcuccirc@gmail.com</p>
        </div>
        <a
          target="_blank"
          href="https://wa.me/5519981475345?text=Ola%20gostaria%20de%20fazer%20um%20orçamento"
          class="btn btn-filled"
          aria-label="botão para abrir uma conversa no whatsapp para fazer um orçamento"
        >
          <img src="./assets/icon-whatsapp.svg" alt="Icone do whatsapp" />
          Fazer orçamento
        </a>
      </aside>
      <div class="contact-image">
        <img
          src="./assets/ilustracao-contato.svg"
          alt="Ilustracao de contato"
        />
      </div>
    </div>
  </section>