<section id="testimonial">
    <div class="wrapper  ">
      <h2>Depoimentos</h2>
      <h3>O que os clientes dizem sobre meus serviços</h3>
      <div class="swiper">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="container">
        <p class="container-description">
          Deixe-me cuidar dos seus dispositivos para que você possa se
          concentrar no que é realmente importante.
        </p>
        <a
          target="_blank"
          href="https://wa.me/5519981475345?text=Ola%20gostaria%20de%20fazer%20um%20orçamento"
          class="btn btn-filled-white"
          aria-label="botão para abrir uma conversa no whatsapp para fazer um orçamento"
        >
          <img
            src="./assets/icon-whatsapp-blue.svg"
            alt="Icone do whatsapp azul"
          />
          Fazer orçamento
        </a>
      </div>
    </div>
  </section>

  <style>

  </style>