<section id="services">
  <div class="wrapper ">
    <h2>Serviços</h2>
    <h3>Como posso te ajudar?</h3>
    <div class="cards-services">
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img
              src="/card-tool.svg"
              alt="Imagem de ferramenta de manutenção"
            />
            <p>Manutenção</p>
          </div>
          <div class="back">
            <p>
              Manutenção de hardware total e compara de peças de substituição
              <span>(valor incluso)</span>
            </p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img src="/card-clear.svg" alt="Imagem de limpeza" />
            <p>Limpeza completa</p>
          </div>
          <div class="back">
            <p>Limpeza de hardware interna e externa do seu dispositivo</p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img
              src="/card-speed.svg"
              alt="Imagem de melhora de performace"
            />
            <p>Melhora de performace</p>
          </div>
          <div class="back">
            <p>
              Melhora significativa de performace através de softwares
              especificos
            </p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img
              src="/card-so.svg"
              alt="Imagem de instalação de sistema"
            />
            <p>Instalação de sistema</p>
          </div>
          <div class="back">
            <p>
              Instalação de sistemas e ROMs customizadas 
            </p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img src="/card-backup.svg" alt="Imagem de backup" />
            <p>Backup</p>
          </div>
          <div class="back">
            <p>Backup completo do sistema para não perder seus arquivos</p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img src="/card-update.svg" alt="Imagem de android" />
            <p>Atualização de sistema</p>
          </div>
          <div class="back">
            <p>Atualização de sistemas operacionais em todos os dispositivos</p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img
              src="/card-formatting.svg"
              alt="Imagem de formatação"
            />
            <p>Formatação</p>
          </div>
          <div class="back">
            <p>
              Formatação completa para recuperar o dispositivo de loops e erros
            </p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img
              src="/card-virus.svg"
              alt="Imagem de remoção de vírus"
            />
            <p>Remoção de vírus</p>
          </div>
          <div class="back">
            <p>Remoção de vírus e ameaças nos seus dispositivos</p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img
              src="/card-part-intalling.svg"
              alt="Imagem de instalação de peças"
            />
            <p>Instalação de peças</p>
          </div>
          <div class="back">
            <p>
              Instalação de peças e compra de novas
              <span>(valor incluso)</span>
            </p>
          </div>
        </div>
      </div>
      <div class="cards-services-card">
        <div class="flip">
          <div class="front">
            <img
              src="/card-diagnosis.svg"
              alt="Imagem de diagnóstico de sistema"
            />
            <p>Diagnóstico de sistema</p>
          </div>
          <div class="back">
            <p>
              Diagnóstico de sistema avançado visando econtrar possiveis
              problemas
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-devices">
      <div class="cards-devices-card">
        <img
          class="services-card-image"
          src="/computer.svg"
          alt="Ilustracao de um computador"
        />
        <h4 class="services-card-title">Computadores</h4>
      </div>
      <div class="cards-devices-card">
        <img
          class="services-card-image"
          src="/notebook.svg"
          alt="Ilustracao de um notebook aberto"
        />
        <h4 class="services-card-title">Notebooks</h4>
      </div>

      <div class="cards-devices-card">
        <img
          class="services-card-image"
          src="/tablet.svg"
          alt="Ilustracao de um tablet"
        />
        <h4 class="services-card-title">Tablets</h4>
      </div>
    </div>
    <div class="brands-container">
      <p class="brands-container-description">
        Atendimento especializado para dispositivos de diversas marcas com as
        últimas tecnologias e soluções, tais como:
      </p>
      <div class="brands">
        <img src="/logo-sony.svg" alt="Logo da empresa Sony" />
        <img src="/logo-lg.svg" alt="Logo da empresa LG" />
        <img src="/logo-positivo.svg" alt="Logo da empresa Positivo" />
        <img src="/logo-apple.svg" alt="Logo da empresa Apple" />
        <img src="/logo-samsung.svg" alt="Logo da empresa Samsung" />
        <img src="/logo-motorola.svg" alt="Logo da empresa Motorola" />
      </div>
    </div>
  </div>
</section>

<style>
  #services {
    background-color: #96f596;
  }
  #services .wrapper h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    color: green;
    margin-bottom: 21px;
  }
  #services .wrapper .cards-devices-card {
    gap: 20px;
    border-radius: 8px;
    width: 220px;
    height: 200px;
    padding: 32px;
    transition: 450ms;
    background-color: green;
  }
  #services .wrapper .cards-services-card .flip .front,
#services .wrapper .cards-services-card .flip .back {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  backface-visibility: hidden;
  background-color: green;
}
</style>

